* { box-sizing: border-box }

html, body {
  height: 100%
}

main {
  position: relative;
  background: #ddd;
  text-align: center;
  height: 100%;
}

.stateful-carousel {
  position: relative;
  width: 80%;
  top: 20%;
  left: 10%;
  background: #999999;
  height: 300px;
  overflow: hidden;
}

.sled, .stage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eeeeee
}

.sled { left: 100%; z-index: 2 }
.stage { z-index: 1; }

.carousel-item {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #222
}

.carousel-item > img {
    max-width: 100%;
    max-height: 100%;
}

.nav {
  position: absolute;
  top: 50%;
  background: #222;
  color: white;
  width: 4em;
  height: 4em;
  border: 0;
  border-radius: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

.nav:hover { background: #666 }

.prev-button { left: 2em }
.next-button { right: 2em }

.blips {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  z-index: 5
}

.blip {
  position: relative;
  margin: 0.25em;
  width: 0.5em;
  height: 0.5em;
  background: #555;
  border: 1px solid #222;
  border-radius: 50%;
  cursor: pointer;
}

.blip:hover {
  background: white;
}

.blip.current, .blip.current:hover { background: greenyellow }
